@import 'tailwindcss';

body {
	font-family: 'Open Sans', sans-serif !important;
	color: #0f3557;
}

.playscript {
	font-family: 'Playfair Display', serif !important;
}
/* #ff8200 -- orange */
/* #0f3557 -- blue */
/* bg-[#C6D8EF] */
